<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ALLN</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!--- Stylesheet -->
    <link rel="stylesheet" href="../../data/css/style.css">
    <!--- Favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="../../data/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../data/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../data/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="../../data/favicon_io/site.webmanifest">

    <head>

    <body>
        <nav class="navbar navbar-expand-sm">
            <div class="container-fluid">
                <a class="navbar-brand min-scale" href="/"><img src="../../data/favicon_io/favicon-32x32.png" alt="Logo"
                        width="30" height="24" class="d-inline-block align-text-top"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link min-scale" aria-current="page" href="/youtube">Youtube</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link min-scale" href="#">Twitter</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle min-scale" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Instagram
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/instagram/reels">Reels</a></li>
                                <li><a class="dropdown-item" href="/instagram/profile-picture">Profile Picture</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link min-scale" href="/about">About</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {{{body}}}
        <nav class="navbar-sm navbar-text text-center">
            <div class="container-fluid">
                <a class="navbar-brand" href="https://www.github.com/jacktheboss220" target="_blank">jacktheboss220
                    &copy; reserved</a>
            </div>
        </nav>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    </body>

</html>