<div class="container">
    <div class="fs-2 font-monospace text-center text-light">
        Website Create to download Media form different platform's like Instagram, Twitter, Facebook, Reddit
    </div>
    <div class="grid">
        <div class="content font-monospace">
            <div class="image">
                <img src="https://github.com/xRaidenxx.png?size=460" alt="error">
                <div class="fs-4 text-center text-light"><span class="fs-3">Ayush Singh</span> <br> Lorem ipsum dolor
                    sit amet
                    consectetur adipisicing elit. Autem eius nisi odit iste assumenda dicta doloribus dolore amet quis
                    totam dolores, consequatur, saepe denim corporis odio!</div>
            </div>
            <div class="image">
                <img src="https://github.com/Shreeyaaah.png?size=460" alt="error">
                <div class="fs-4 text-center text-light"><span class="fs-3">Shreeya Gupta</span> <br>Lorem ipsum dolor
                    sit amet
                    consectetur adipisicing elit. Iste adipisci sit libero eligendi quod eius officia deleniti, rem
                    ex
                    eum odit esse, deserunt voluptatibus voluptas cupiditate ea unde vel amet..</div>
            </div>
            <div class="image">
                <img src="https://github.com/jacktheboss220.png?size=460" alt="error">
                <div class="fs-4 text-center text-light">
                    <span class="fs-3">Mahesh Kumar</span> <br>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Obcaecati similique repudiandae ipsum veritatis provident? Nulla in maiores eligendi dignissimos
                    repellat tempora deserun
                </div>
            </div>
        </div>
    </div>
</div>