<section class="page">
    <h1>
        {{#if text}}
        <p class="text-center" style="color: white;">{{text}}</p>
        {{else}}
        <p class="text-center" style="color: white;">Some Internal Error Occurred Try After Sometime.</p>
        {{/if}}
    </h1>
</section>