<div class="container">
    <div class="bug text-center mt-5">
        <i class="bi bi-bug"></i>
        {{#if text}}
        <div class="fs-2">{{text}}</div>
        {{else}}
        <div class="fs-2 text-light">Internal Error Occurred. Please Try After Sometime.</div>
        {{/if}}
    </div>
</div>