<div class="container text-center pt-5">
    <div class="fs-2 font-monospace" style="color: white;">
        <img id="mainbg" src="../data/images/img.png" class="img" style="height: calc(90vh - 56px - 40px); width: auto;"
            alt="error">
        <p class="text-center">Illuminati Is The Future</p>
    </div>
</div>