<div class="container text-center">
    <img id="mainbg" src="../data/images/img.png" class="img-fluid" alt="error">
    <div class="fs-2 font-monospace" style="color: white;">
        <p class="text-center">Illuminati Is The Future</p>
    </div>
</div>