<section class="thisOnly" style="height: calc(100vh - 56px - 40px);">
    <div class="container grid">
        <div class="content">
            {{#each url}}
            <div class="image d-grid gap-2 mx-auto">
                <img src="../../data/images/{{this}}.jpg" alt="error">
                <a class="btn btn-primary justify-content-md" href="/download/{{this}}.jpg">Download</a>
            </div>
            {{/each}}
        </div>
    </div>
</section>
<style>
    @media (max-width:500px) {
        .thisOnly {
            height: auto !important;
        }
    }
</style>