<div class="container text-center">
    <div class="ytimg">
        <video controls>
            <source src="../data/video/{{{video}}}" type="video/mp4">
        </video>
    </div>
    <div class="fs-6 font-monospace text-center text-white">{{title}}</div>
    <div class="button">
        <a class="me-1 btn btn-primary" href="../download/video/{{{video}}}" target="_blank">
            Download
        </a>
        {{!-- <a class="ms-1 btn btn-primary" href="{{{audio}}}" target="_blank">
            Audio
        </a> --}}
    </div>
</div>