<section class="page">
    <div class="d-grid gap-3 p-5">
        <img src="{{{image}}}" class="rounded mx-auto d-block img" alt="error">
        <p class="fs-2 text-center" style="color:white;">{{{title}}}</p>
        <div class="mx-auto gap-2 d-md-block">
            <a class="me-1 btn btn-primary" href="{{{video}}}" target="_blank">
                Video
            </a>
            <a class="ms-1 btn btn-primary" href="{{{audio}}}" target="_blank">
                Audio
            </a>
        </div>
    </div>
</section>