@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100vh;
}

body::before {
    top: 0;
    left: 0;
    /* background: url("https://w.wallhaven.cc/full/6o/wallhaven-6o2m5w.png"), url("../images/background.png"); */
    background: linear-gradient(#493b2a, #593F62, #91C7B1, #F4D8CD, #D8E2DC);
    filter: blur(.2em) brightness(.9);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: fixed;
    height: 110vh;
    width: 100%;
    content: "";
    z-index: -1;
}


.navbar div a {
    font-size: 1rem;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer a {
    text-decoration: none;
}

.navbar a:hover {
    scale: 1.01;
}

.container {
    height: 100%;
}

.youtube,
.instagram,
.bug {
    margin: 16% auto;
}


.container .button {
    display: flex;
    margin: 10px auto;
    gap: 6px;
    justify-content: center;
}


.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 90%;
    margin: 10px auto;
    padding: 25px 0px;
    gap: .7rem;
    justify-items: center;
}


.image {
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 5px 0;
    justify-content: center;
    background-position: center center;
    box-shadow: 5px 5px 20px;
    border: 2px aliceblue;
    border-radius: 2px;
}

.grid {
    padding: 10px 0;
}

.grid div img,
.grid div video {
    object-fit: contain;
    height: 200px;
}

.ytimg video {
    margin: auto;
    height: 200px;
}

.bi-bug {
    color: white;
    font-size: 100px;
    font-family: monospace;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

@keyframes ani {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

.team-sam {
    padding: 5px;
    overflow: hidden;
    animation: ani 4s ease;
    font-size: 4rem;
    font-family: 'Rubik Distressed', cursive;
    text-shadow: 2px 2px .2px rgb(218, 218, 36);
    color: royalblue;
    border: 10px inset gray;
    border-radius: 20px;
}

@media (max-width:425px) {
    .youtube {
        margin: 40% auto;
    }

    .team-sam {
        font-size: 2rem;
    }
}