body {
    background: linear-gradient(172deg, black 10%, #5A184E, #A23756, #DA6C53, #F8AF53);
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-link {
    color: white;
}

.img {
    height: 170px;
    width: 170px;
}

.page {
    margin: auto;
    margin-top: 5rem;
    width: 85%;
    height: calc(90vh - 56px - 40px);
}

@media screen and (max-width:500px) {
    .img {
        height: 150px;
        width: 150px;
    }

    .page {
        width: 100%;
    }
}

.min-scale:hover {
    transition: all .2s;
    scale: 1.1;
}

a:hover {
    color: white !important;
}