 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box !important;
     color: white !important;
 }

 body {
     height: 100vh;
 }

 body::before {
     top: 0;
     left: 0;
     background: linear-gradient(172deg, #000000 10%, #5A184E, #A23756, #DA6C53, #F8AF53);
     background-repeat: no-repeat;
     background-size: cover;
     position: fixed;
     height: 110vh;
     width: 100%;
     content: "";
     z-index: -1;
 }

 .dropdown-menu a {
     color: black !important;
 }


 .navbar div a {
     color: white;
 }


 .footer {
     background-color: black;
     position: absolute;
     width: 100%;
     height: 30px;
 }

 .navbar a:hover {
     scale: 1.01;
 }

 .container {
     height: 100%;
 }

 .container #getUrl {
     color: black !important;
 }

 .youtube,
 .instagram,
 .bug {
     margin: 16% auto;
 }

 .username span {
     color: black !important;
 }

 .container .button {
     display: flex;
     margin: 10px auto;
     gap: 6px;
     justify-content: center;
 }


 .content {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
     width: 95%;
     margin: 10px auto;
     padding: 25px 0px;
     grid-gap: .7rem;
     justify-items: center;
 }


 .image {
     display: flex;
     flex-direction: column;
     width: auto;
     padding: 5px 0;
     justify-content: center;
     background-position: center center;
     box-shadow: 5px 5px 20px;
     border: 2px solid aliceblue inset;
 }

 .image div,
 span {
     color: white;
 }

 .grid div img {
     object-fit: contain;
     height: 200px;
 }

 .bi-bug {
     font-size: 100px;
     font-family: monospace;
 }

 @media (max-width:425px) {
     .youtube {
         margin: 40% auto;
     }

     body,
     .container {
         height: auto;
     }

     /* .footer {
         position: absolute;
         bottom: 0;
         width: 100%;
     } */
 }